body{
    text-align:center;
    background-color: rgba(255,255,255,0.9);
}

div#wrapper{
    margin:0px auto;
    text-align:left;
    width:100%;
}

.logo{
  position: absolute;
  padding-top: 10px;
  float: left;
}

#right-pane{
  position: fixed;
  padding: 20px;
  right: 0;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
}
div.right-icon{
  margin-bottom: 30px;
}
.right-icon i {
    color: #000;
}
.right-bottom-icon{
  position: absolute;
  bottom: 60px;
}

div#map iframe {
    width:100%;
    height: 300px;
}

#map {
    position:fixed;
    top:0;
}

